.enhanced-content {
    background-position: center center;
    background-repeat: no-repeat;
    width: 290px;
    height: 180px;
}

.tile {
    width: 290px;
    margin: 0;
    padding: 10px;
}

ul.tile li {
    list-style-type: none;
}

ul.tile-container li {
    display: inline;
    list-style-type: none;
    float: left;
    padding-right: 10px;
}

.progress-bar {
    width: 50%;
}

.progress {
    margin-top: 50px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #FFF;
    cursor: inherit;
    display: block;
}

.publish-bar {
    border-top: 1px solid #DDD;
    height: 76px;
    background-color: white;
    margin-bottom: 10px;
    z-index: 999;
    border-bottom: 1px solid #DDD;
}

ol.tiles-list {
    list-style-type: none;
    counter-reset: li-counter;
}

ol.tiles-list > li {
    position: relative;
}

ol.tiles-list > li:before {
    float: left;
    margin-right: 10px;
    top: 0;
    font-size: 3em;
    font-weight: bold;
    content: counter(li-counter);
    counter-increment: li-counter;
}

.alert-growl {
    position: fixed;
    top: 30px;
    right: 20px;
    opacity: 0.9;
    z-index: 999;
}

.progress-bar {
    width: 50%;
}

.progress {
    margin-top: 50px;
}

.tiles-info {
    padding-top: 20px;
    background-color: #FFF;
}

.distribution-previous-select {
    clear: both;
    display:block;
}

.distribution-file-input {
    border: 1px solid #DDD;
    padding: 5px;
    border-radius: 2px;
}

.modal-backdrop {
    opacity: 0.7;
}

.modal-status-message {
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 700px;
}
