$font-default: 'Open Sans', sans-serif;
$font-heading: 'Montserrat', sans-serif;

$font-color-default: #363755;

$color-gray: #878893;
$color-light-gray: #e6e6e6;
$color-dark-gray: #5c5e6f;
$color-pink: #cf375f;
$color-aqua: #01d3b6;
$color-navy: #263b4f;
