@import '../../../styles/variables';

.tile-preview-container{
  text-align: center;
  margin: 0 0 40px 0;

  .tile-preview{
    padding: 0;
    display: inline-block;

    .tile-image{
      height: 200px;
      width: 390px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-position: center;
      background-repeat: no-repeat;
    }
    .tile-title{
      width: 390px;
      height: 40px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 10px 5px;
      font-size: 18px;
      line-height: 1em;
      color: #ffffff;
      font-weight: normal;
    }
  }
  .tile-default{
    margin: 0 30px 0 0;
  }
}