@import '../../../styles/variables';

.details-panel.account-details{
  /*strong{
    color: $color-gray;
    font-weight: 600;
  }

  .account-details-top{
    padding: 15px;
    font-weight: 600;
  }*/
}