@import '../variables';

.panel .panel-body h2{
  margin-top: 0px;
}
.form-group.has-error .select2-selection{
  border-color: #a94442;
}
select.js-select{
  display:none;
}
.js-select{
  width: 100%;
}