@import '../variables';

.form-module {
  margin: 0 0 40px 0;

  .form-module-header {
    font-family: $font-heading;
    font-weight: 700;
    background-color: $color-pink;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
  }
  .form-module-body {
    background-color: $color-light-navy;
    @include top-inset-shadow();

    .field-container{
      @include bottom-inset-shadow();
      padding: 30px 45px 75px 45px;
    }

    .form-section-header{
      color: #fff;
      font-family: $font-heading;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      font-size: 18px;
      margin: 5px 0 20px 0;
    }

    label{
      color: #fff;
      font-weight: normal;
      margin-bottom: 15px;
    }

    .form-group{
      margin-bottom: 25px;
    }

    .form-submit{
      width: 100%;
      background-color: $color-aqua;
      color: $font-color-default;
      border: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      padding: 15px;
      text-align: center;
      cursor: pointer;
    }

    .text-danger{
      color: red;
    }
  }
}

.colorpicker.dropdown-menu{
  padding: 5px 4px;
}
.file-upload-input{
  color: #fff;
  font-size: 13px;
}
.app-container .form-control{
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;  /* Firefox 1-3.6 */
  border-radius: 0;
}
select.form-control{
  cursor: pointer;
  background: #fff url(/public/img/select-downarrow.png) right center no-repeat;
}
.form-group.file-upload-form-group{
  padding: 20px 0 20px 0;
  margin: 0;

  label{
    margin: 0 0 10px 0;
  }
}

/* Select 2 */
.app-container{
  select.js-select{
    display:none;
  }
  .js-select{
    width: 100%;
  }
  .form-group.has-error .select2-selection{
    border-color: #a94442;
  }
  .select2-container--default{
    .select2-selection--multiple{
      border-radius: 0;
    }
    .select2-selection--single{
      border-radius: 0;
      height: 34px;

      .select2-selection__rendered{
        line-height: normal;
        padding-top: 6px;
        padding-left: 12px;
      }
      .select2-selection__arrow{
        b{
          display: none;
        }
        height: 32px;
        width: 26px;
        background: #fff url(/public/img/select-downarrow.png) right center no-repeat;
      }
    }
  }
  .select2-container--default.select2-container--open{
    .select2-selection--single{
      .select2-selection__arrow{
        background-image: url(/public/img/select-uparrow.png);
      }
    }
  }
}