.side-bar{
  position: absolute;
  /*background: linear-gradient(darkgray, dimgray);*/
  background: darkgray;
  z-index: 1000;
  display: none;

  .accounts-list{
    overflow: auto;

    ul{
      list-style: none;
      padding: 0;
      margin: 0;

      li{
        border-top:1px solid white;

        a{
          padding: 5px 10px;
          color: white;
          display: block;
        }
        a:hover{
          background-color: rgba(255, 255, 255, .25);
        }
      }
    }
  }
  .button{
    border-top:1px solid white;

    a{
      padding: 5px 10px;
      color: white;
      display: block;
    }
    a:hover{
      background-color: rgba(255, 255, 255, .25);
    }
  }
}