@import '../../../styles/variables';

.fixed-navigation{
  position: absolute;
  z-index: 1000;
  width: 100%;
  min-width: 1170px;
  top: 0px;

  .ps-container.ps-active-y>.ps-scrollbar-y-rail,
  .ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail{
    background-color: transparent;
    opacity: 0.6;
    margin-right: 2px;
  }
}

.header-bar{
  overflow: auto;
  background-color: white;
  height: 50px;
  display: flex;

  h1{
    padding-left: 15px;
    flex-grow: 1;
    font-size: 25px;
    margin: 0;
    line-height: 50px;
    vertical-align: middle;
    font-family: $font-heading;
    border-bottom: 1px solid $border-blue;
  }
  h1 a{
    color: $font-color-default;
    text-decoration: none;
  }
  .navigation-toggle{
    margin: 0;
    background-color: darkgray;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 85px;
  }
}

