<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <title>{% block title %}Firefox Tiles{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/spliceApp.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/angular-bootstrap-datetimepicker/css/datetimepicker.css') }}">
        <script src="{{ url_for('static', filename='vendor/modernizr-2.6.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/tv4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/jquery-2.1.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/angular/angular.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/angular/angular-sanitize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/angular-ui/ui-bootstrap-tpls-0.11.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/angular-ui/angular-ui-router.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/angular-ui/ui-utils.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/angular-bootstrap-datetimepicker/js/datetimepicker.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/angular-strap/angular-strap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/angular-strap/angular-strap.tpl.min.js') }}"></script>
    </head>
    <body {% block angular_mount %}ng-app="spliceApp"{% endblock %}>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container-fluid" ng-controller="mainController">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-bar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand">Firefox Tiles</span>
                    </div>
                    <div class="collapse navbar-collapse" id="collapse-bar">
                        <ul class="nav navbar-nav">
                            <li ng-class="{active: stateName.authoring}"><a ui-sref="authoring">Authoring<span ng-show="stateName.authoring" class="sr-only"> (current)</span></a></li>
                            <li ng-class="{active: stateName.upcoming}"><a ui-sref="upcoming">Upcoming<span ng-show="stateName.upcoming" class="sr-only"> (current)</span></a></li>
                        </ul>
                    </div>
            </nav>
            {% block content %}
            <div ui-view></div>
            {% endblock %}
        </div>

        {% block body_js %}
        <script src="{{ url_for('static', filename='js/splice.js') }}"></script>
        <script src="{{ url_for('static', filename='js/routes.js') }}"></script>
        <script src="{{ url_for('static', filename='js/services/fileReader.js') }}"></script>
        <script src="{{ url_for('static', filename='js/services/spliceData.js') }}"></script>
        <script src="{{ url_for('static', filename='js/directives/fileSelect.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/distribution.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/authoring.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/upcoming.js') }}"></script>
        {% endblock %}
    </body>
</html>

