<!DOCTYPE html>
<html>
  <head>
    <title>Splice - Distribution App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='build/css/newtab.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='build/css/datetime.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='build/css/app.css') }}">
  </head>
  <body>
    <div id="root">Loading...</div>
    <script src="{{ url_for('static', filename='build/js/bundle.js') }}"></script>
  </body>
</html>
