body {
  background: #f0f0f0;
}

div.busy * {
  cursor: wait !important;
}

label {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 5px 15px 5px 0;
}

h2 {
  margin: 0;
}

input {
  margin: 0 25px 0 0;
}

#page {
}

#nav {
  background: #000;
  color: #f0f0f0;
  font-size: 22px;
}

#nav ul {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
}

#nav li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: center;
}

#nav li > a {
  padding: 25px;
}

#nav li > span {
  padding: 25px 50px;
}

#nav a {
  color: #f0f0f0;
  text-decoration: none;
}

#nav a.active {
  background: #f0f0f0;
  color: #000;
}

#view {
  padding: 25px
}

.container {
  background: #fff;
  margin: 15px 0;
  padding: 15px;
}

.container:empty {
  display: none;
}

#env.dev,
#env.test {
  background: linear-gradient(to bottom, #D9EDF7 0px, #B9DEF0 100%);
}

#env.stage {
  background: linear-gradient(to bottom, #FCF8E3 0px, #F8EFC0 100%);
}

#env.prod {
  background: linear-gradient(to bottom, #F2DEDE 0px, #E7C3C3 100%);
}

.picker {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 10px 0;
}

/* datetime picker */
.rdt {
  display: inline-block;
}

.rdt input {
  width: 450px;
}

/* error and status messages */
p.status {
  background: #FCF8E3 url(../img/ajax-loader.gif) no-repeat 10px center;
  border: solid 1px #FAEBCC;
  margin: 10px 0;
  padding: 10px 15px 10px 35px;
}

p.error {
  background: #F2DEDE;
  border: solid 1px #EBCCD1;
  margin: 10px 0;
  padding: 10px 15px;
}

p.success {
  background: #DFF0D8;
  border: solid 1px #D6E9C6;
  margin: 10px 0;
  padding: 10px 15px;
}

/* nice button */
button.nice {
  background-color: #337AB7;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #2E6DA4;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin: 10px 0;
  padding: 3px 9px;
  text-align: center;
  white-space: nowrap;
  -moz-user-select: none;
  vertical-align: middle;
}

button.nice:hover {
  background-color: #286090;
  border-color: #204D74;
  color: #FFF;
}

button.nice:disabled {
  background-color: #ccc;
  border-color: #bbb;
  cursor:wait;
}

/* Tile filtering and previewing */
#pickers {
  padding: 25px 50px;
}

#pickers select {
  margin: 0 15px 0 5px;
}

.newtab-cell {
  position: relative;
}

.frecent-sites {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  display: none;
  left: 300px;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 0;
  width: 160px;
  z-index: 100;
}

.frecent-sites ul, .frecent-sites li {
  font-size: 9px;
  list-style: none;
  padding: 0;
  margin: 0 0 0 5px;
}

.newtab-cell:hover .frecent-sites {
  display:block;
}

/* override some rules from newtab.css */
.newtab-site.suggested > .newtab-sponsored {
   background-color: #E2E2E2;
   border: none;
 }

 .newtab-site.suggested .newtab-suggested {
   display: table;
 }

/* distributions table */
.distributions table {
  border-spacing: 0;
  border-collapse: collapse;
}

.distributions th {
  border-bottom: solid 2px #ccc;
  padding: 5px 15px;
  text-align: left;
}

.distributions td {
  border-bottom: solid 1px #ccc;
  padding: 0 15px;
  text-align: left;
}

.distributions td.actions a {
  margin: 0 25px 0 0;
}
