<div class="container-fluid">
    <div class="alert-growl">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">
            <span ng-bind-html="alert.msg"></span>
        </alert>
    </div>
    <h1>Firefox Tiles Authoring</h1>
    <div>
        <form name="allTilesForm">
            <div class="form-group distribution-select">
                <span class="distribution-select">
                    <label for="channels">Channel:</label>
                    <select name="channels" ng-model="channelSelect" required="1">
                        <option ng-repeat="channel in channels" value="{{ channel.id }} ">{{ channel.name }}</option>
                    </select>
                </span>
                <span class="distribution-select">
                    <label for="previousTiles">Previous distributions:</label>
                    <select name="previousTiles" ng-model="versionSelect" required="1">
                        <option ng-repeat="choice in choices" value="{{ choice.url }}">{{ choice.created_at }}</option>
                    </select>
                </span>
            </div>
            <div class="form-group col-md-12">
                <label for="newTiles">Load a new distribution from file:</label>
                <input type="file" name="newTiles" ng-file-select>
            </div>
            <div ng-show="downloadInProgress" class="form-group col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar">
                    </div>
                </div>
            </div>
            <div ng-show="!tilesEmpty() && !downloadInProgress">
                <div class="form-group col-md-12 tiles-info">
                    <h2>Data Source</h2>
                    <dl class="dl-horizontal">
                        <dt>Type</dt>
                        <dd>{{ source.type }}</dd>
                        <dt>Origin</dt>
                        <dd>{{ source.origin }}</dd>
                    </dl>
                </div>
                <ol class="row tiles-list">
                    <li ng-repeat="(locale, tileList) in tiles" class="col-md-12">
                        <h2>{{ locale }}</h2>
                        <ul ng-hide="downloadInProgress" class="tile-container">
                            <li ng-repeat="tile in tileList">
                                <ul class="tile">
                                    <li><a href="{{ tile.url }}">{{ tile.title }} [ {{tile.type}} ]</a></li>
                                    <li><div class="enhanced-content img" style="background-color: {{ tile.bgColor }}; background-image: url('{{ tile.imageURI }}')"></div></li>
                                    <li><div class="enhanced-content enhanced-img" style=" background-color: {{ tile.enhancedImageURI ? tile.bgColor : 'inherit' }}; background-image: url('{{ tile.enhancedImageURI }}')"></div></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div ng-show="!tilesEmpty() && !downloadInProgress" class="col-md-12 publish-bar">
                <button ng-click="publish(tiles, true)" class="btn btn-danger">Publish</button>
                <span><input type="checkbox" ng-model="deployFlag"> Deploy to channel <strong>{{ channelIndex[channelSelect].name }}</strong></span>
            </div>
        </form>
    </div>
</div>
