<div class="toggle-control">
    <span>Toggle:</span>
    <div class="btn-group" role="group" aria-label="master toggle">
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target=".collapse" aria-expanded="true">Locales</button>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target=".locale-frecency.collapse" aria-expanded="true">Frecent Sites</button>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target=".locale-default.collapse" aria-expanded="true">Default Tiles</button>
    </div>
</div>
