<ol class="row tiles-list">
    <li ng-repeat="(locale, tileTypes) in tiles.ui" class="col-md-12">
        <h2>{{ locale }} <button class="btn btn-xs btn-link" type="button" data-toggle="collapse" data-target="#collapse-locale-{{ $index }}" aria-expanded="true">toggle</button><button class="btn btn-xs btn-link" type="button" data-toggle="collapse" data-target="#collapse-locale-{{ $index }} .collapse" aria-expanded="true">toggle children</button></h2>

        <div id="collapse-locale-{{ $index }}" class="locale-all collapse in">
            <!-- all tiles for locale -->

            <div ng-hide="tileTypes.frecentCount==0" class="tile-listing">
                <!-- frecent tiles -->
                <h3>Frecent Sites <button class="btn btn-xs btn-link" type="button" data-toggle="collapse" data-target="#collapse-locale-{{ $index }}-frecency" aria-expanded="true">toggle</button></h3>
                <div id="collapse-locale-{{ $index }}-frecency" class="locale-frecency collapse in">
                    <div ng-repeat="(label, tiles) in tileTypes.frecentSites" ng-hide="tiles.length == 0" class="tile-listing">
                        <h4>{{ label }}</h4>
                        <ul ng-hide="downloadInProgress" class="tile-container">
                            <li ng-repeat="tile in tiles">
                                <ul class="tile">
                                    <li><a href="{{ tile.url }}">{{ tile.title }} [ {{tile.type}} ]</a></li>
                                    <li><div class="enhanced-content img" style="background-color: {{ tile.bgColor }}; background-image: url('{{ tile.imageURI }}')"></div></li>
                                    <li><div class="enhanced-content enhanced-img" ng-class="{'enhanced-img-absent': tile.enhancedImageURI==null}" style=" background-color: {{ tile.enhancedImageURI ? tile.bgColor : 'inherit' }}; background-image: url('{{ tile.enhancedImageURI }}')"></div></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- end frecent tiles -->

            <div ng-hide="tileTypes.defaultCount==0" class="tile-listing">
                <!-- default tiles -->
                <h3>Default Tiles <button class="btn btn-xs btn-link" type="button" data-toggle="collapse" data-target="#collapse-locale-{{ $index }}-default" aria-expanded="true">toggle</button></h3>
                <ul id="collapse-locale-{{ $index }}-default" class="tile-container locale-default collapse in">
                    <li ng-repeat="tile in tileTypes.defaultTiles">
                        <ul class="tile">
                            <li><a href="{{ tile.url }}">{{ tile.title }} [ {{tile.type}} ]</a></li>
                            <li><div class="enhanced-content img" style="background-color: {{ tile.bgColor }}; background-image: url('{{ tile.imageURI }}')"></div></li>
                            <li><div class="enhanced-content enhanced-img" ng-class="{'enhanced-img-absent': tile.enhancedImageURI==null}" style=" background-color: {{ tile.enhancedImageURI ? tile.bgColor : 'inherit' }}; background-image: url('{{ tile.enhancedImageURI }}')"></div></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- end default tiles -->
        </div><!-- end all tiles for locale -->
    </li>
</ol>
